diskcache~=5.6.1
ftfy~=6.1.1
musicbrainzngs~=0.7.1
mutagen~=1.46.0
pyacoustid~=1.2.2
spotipy~=2.23.0
# Linux requirements
pyacrcloud~=1.0.1; sys_platform == 'linux'

# Windows requirements
git+https://github.com/acrcloud/acrcloud_sdk_python; sys_platform == 'win32'
windows-curses; sys_platform == 'win32'
tqdm
