diskcache~=5.6.3
ftfy~=6.1.1
musicbrainzngs~=0.7.1
mutagen~=1.46.0
pyacoustid~=1.2.2
requests~=2.31.0
urllib3==2.0.4
lyrics @ https://github.com/Drag-3/LyricsSearcher.git
# Linux requirements
pyacrcloud~=1.0.1; sys_platform == 'linux'

# Windows requirements
acr_windows @ https://github.com/acrcloud/acrcloud_sdk_python.git; sys_platform == 'win32'
tqdm~=4.66.1
